#title {
	font-size: 36px;
	margin-bottom: 20px;
}
.row {
	display: grid;
	grid-template-columns: repeat(6, min-content);
	row-gap: 10px;
}

.row img {
	width: 200px;
	height: 340px;
	padding: 5px;
}

.card {
	/* Add shadows to create the "card" effect */
	/* box-shadow: 0 4px 8px 0 rgba(226, 9, 9, 0.5); */
	/* padding: 10px; */
	flex: 0 1 24%;
	margin: 4px 16px;
	transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
	/* box-shadow: 10 16px 32px 0 rgba(0, 0, 0, 0.4); */
	transform: scale(1.052);
	background-color: crimson;
}

/* Add some padding inside the card container */
.container {
	padding: 2px 10px;
}

.rating p {
	margin: 3px;
}
